<h2> User Info </h2>
<h3> A FormGroup w/ multiple FormControls </h3>
<form [formGroup]="defaultUserForm" novalidate>
  <div formGroupName= "user" id="UserFormId" *ngIf="user">
    <div class="form-group">
      <label class="center-block" for="firstname">First Name:
        <input class="form-control" formControlName="firstname" required
        [(ngModel)]="user.firstname" />
      </label>
    </div>
    <div class="form-group">
      <label class="center-block" for="lastname">Last Name:
        <input class="form=control" formControlName="lastname" required
        [(ngModel)]="user.lastname" />
      </label>
    </div>
    <div class="form-group">
      <label class="center-block" for="email">E-mail Address:
        <input class="form-contol" formControlName="email" required
        [(ngModel)]="user.email" />
      </label>
    </div>
    <div class="form-group">
      <label class="center-block" for="phoneNumber">Phone Number:
        <input class="form-control" formControlName="phone" required
        [(ngModel)]="user.phone" />
      </label>
    </div>
  </div>
  <div formGroupName="passwords" id="passwordForm" *ngIf="user">
    <div class="form-group">
      <label class="center-block" for="currentPassword">Current Password:
        <input type="password" class="form-control" required
        formControlName="currentPassword" />
      </label>
    </div>
    <div class="form-group" *ngIf="extendForm">
      <label class="center-block" for="newPassword">New Password:
        <input type="password" class="form-control"
        formControlName="newPassword" />
      </label>
    </div>
    <div class="form-group" *ngIf="extendForm">
      <label class="center-block" for="confirmPassword">Confirm Password:
        <input type="password" class="form-control"
        formControlName="confirmPassword" />
      </label>
    </div>
  </div>
  <div class="form-group-button">
    <div (click)="onChangePassword()">Change password?</div>
  </div>
</form>
<div>
  <button (click)="onDelete()">Delete Account</button>
  <button (click)="onCancel()">Cancel</button>
  <button (click)="onSave()">Save</button>
</div>
  <p> FormValue: {{ defaultUserForm.value | json }}</p>
