<app-navbar></app-navbar>
<div style="text-align:center">
  <h1>Set yo time</h1>
<table class = "table" id="settimestable">
  <thead>
  <tr>
    <th>Time</th>
    <th>SUNDAY</th>
    <th>MONDAY</th>
    <th>TUESDAY</th>
    <th>WEDNESDAY</th>
    <th>THURSDAY</th>
    <th>FRIDAY</th>
    <th>SATURDAY</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let time of times">
        <td>{{time.time}}</td>
      <td *ngFor="let day of days"><label class="container">
        <input type="checkbox" id={{(day+time.id)}} (click)="setDefaultTime(day+time.id)">
        <span class="checkmark"></span>
      </label></td>
    </tr>
  </tbody>
  </table>
  <h2 (click)="submitDefault('submitDefaultTimesToTheserver')">Submit</h2>
</div>
