<app-navbar></app-navbar>
<div style="text-align:center">
  <h1>Set yo time</h1>
  <table>
      <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    <div *ngFor="let timeslot of timeslots">
      <th>{{timeslot.timeslot}}</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </div>
  </table>
</div>
