<!--
<div [(ngSwitch)]="page">
  <app-group-select
    [page]="page" [friendgroups]="friendgroups"
    [currentUser]="currentUser" *ngSwitchCase="SELECT"
    (onPageChange)="onPageChange($event)"
    (onFriendSelect)="onFriendSelect($event)">
  </app-group-select>
  <app-group-home
    [page]="page" [groupName]="groupName" *ngSwitchCase="HOME"
    (onPageChange)="onPageChange($event)">
  </app-group-home>
  <app-group-menu [page]="page" *ngSwitchCase="MENU"
    (onPageChange)="onPageChange($event)"></app-group-menu>
</div>
-->
