<app-navbar></app-navbar>
<div class="container">
  <form (ngSubmit)="onSubmit()" #selectRequests="ngForm" class="form-inline">

    <label for="searchStr" class ="control-label sr-only">Search String:</label>
      <input type="search" class="form-control" id="searchStr"
	     [(ngModel)]="searchStr" name ="searchStr">

      <div class="col-1">
      </div>
      <label for="searchType" class ="control-label">Filter By:</label>
      <select name="searchType" class="form-control" id="searchType"
	      [(ngModel)]="searchType" name ="searchType">
	<option value="all" selected>all</option>
	<option value="group">groups</option>
	<option value="user">people</option>
      </select>

      <div class="col-1">
      </div>

      <button type="submit" class="btn btn-success"
	  [disabled]="!selectRequests.form.valid">
	Search
      </button>

  </form>
</div>
<div class ="container">
<table class="table">
  <tr *ngFor="let result of results ">
    <td>{{result.name}}</td>
    <td *ngIf="displayAddFriend(result)">
      <button  (click)="onAddFriend(result)" type="add friend" class="btn">
	Add Friend
      </button>
    </td>
    <td *ngIf="displayJoinGroup(result)">
      <button  (click)="onJoinGroup(result)" type="join Group" class="btn">
	Join Group
      </button>
    </td>
  </tr>
</table>
</div>
